page-visualizarservico {
    .card-img{
        width: 100%;
        border-radius: calc(.25rem - 1px);
     }
     .card-md {
        margin: 5px;
        border-radius: 8px;
        width: calc(100%);
        padding: 2px;
     }
     .card-title-md {  
        font-size: 1.7rem;
        margin-left: 10px;
     }
     .iconedit{
        margin-right: 5px !important;
     }
     .btnpublicar{
        margin-top: 10px;
        margin-bottom: 10px;
     }
     #notifications-badge {        
        position: absolute;
        top: 0;
    }
    .btnacao{
        height: 5.6rem;
        font-size: 2.4rem;
        width: 100%;
    }   
    ion-avatar img{
        width:100px !important;
        height: 100px !important;
    } 
}
